.decrypt-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.title1
{
    color: #2596be;
}
.lockfill
{
    color: #2596be;
}
.btnunlock
{
    background: #2596be;
    color: white;
}
.decrypt-card {
    width: 530px;
    padding: 30px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.form-control {
    height: 45px;
    border-radius: 6px;
    box-shadow: none !important;
    outline: none !important;      
    border: 1px solid #ccc;      
}

input:hover {
    transform: none !important;
}

.form-control:focus {
    border-color: #555 !important;  
    box-shadow: none !important;
}