
.login-container {
    max-width: 450px;
    margin: 50px auto;
    opacity: 0;
    transform: translateY(40px) scale(0.96);
    animation: fadeSlideIn 0.8s ease-out forwards;
    border: 1px solid #2596be;
    border-radius: 8px;
}
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(40px) scale(0.96);
    }
    60% {
        opacity: 1;
        transform: translateY(10px) scale(1.01);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.login-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
}

.login-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2596be; 
}

.form-control {
    height: 45px;
    border-radius: 6px;
    box-shadow: none !important;
    outline: none !important;      
    border: 1px solid #ccc;      
}

input:hover {
    transform: none !important;
}

.form-control:focus {
    border-color: #555 !important;  
    box-shadow: none !important;
}

.btn-login {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    background: #2596be !important;
    border: none;
    color: white;
}

.btn-login:focus {
    background: #2596be !important;
    color: white;
}


.login-footer {
    text-align: center;
    margin-top: 15px;
}

.login-footer a {
    text-decoration: none;
    color: #191a1b;
}

.login-footer a:hover {
    text-decoration: underline;
}
.field-error {
    color: #d9534f;
    font-size: 14px;
    margin-top: 4px;
}
@media (max-width: 480px) {
    .login-container  {
        margin: 30px auto;
        max-width: 90%;
    }
}