.form-control {
    height: 45px;
    border-radius: 6px;
    box-shadow: none !important;
    outline: none !important;      
    border: 1px solid #2596be;      
}

input:hover {
    transform: none !important;
}
.Enablemfa
{
    background: #2596be !important;
    color: #ffffff;
}
.btnverify
{
     background: #2596be !important;
    color: #ffffff;
}