.reset-container {
    max-width: 420px;
    margin: 50px auto;
}

.reset-box {
    background: #ffffff;
    padding: 28px;
    border-radius: 8px;
    border: 1px solid #2596be;
}

.reset-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 18px;
    color: #2596be;
}

.form-control {
    height: 45px;
    border-radius: 6px;
    box-shadow: none !important;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #555 !important;
    box-shadow: none !important;
}

.btn-reset {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    background: #2596be !important;
    color: white;
 
}
.btn-reset:hover {
    color: white !important;
    border: none !important;
}

.btn-reset:focus {
    background: #2596be !important;
    color: white;
}

.reset-footer {
    text-align: center;
    margin-top: 10px;
}

.reset-footer a {
    text-decoration: none;
    color: #007bff;
}

.reset-footer a:hover {
    text-decoration: underline;
}
