.upload-container {
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
}

.page-title {
    font-weight: 700;
    text-align: center;
    color:#2596be;
}
.sub-title
{
    color:#2596be;
}

.limit-info {
    text-align: center;
    color: #6c757d;
    margin-bottom: 15px;
}

.upload-card {
    border: 2px dashed #bbb;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    background: white;
}

.upload-card:hover {
    border-color: #2596be;
    background: #f7f9ff;
}

.drag-text {
    font-size: 18px;
    font-weight: 500;
}

.or-text {
    margin: 10px 0;
    color: #666;
}
.remove-btn {
    background: #41b1da;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    margin-top: 8px;
    cursor: pointer;
}
.security-note {
    font-size: 0.9rem;
    opacity: 0.8;
}
.security-note i {
    font-size: 1.2rem;
}

.remove-btn:hover {
    background: #959699;
}

.file-label {
    display: inline-block;
    background: #41b1da;
    padding: 10px 25px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.file-input {
    display: none;
    /* background: #41b1da; */
}

.file-preview {
    margin-top: 15px;
    padding: 10px;
    background: #eef3ff;
    border-radius: 5px;
    text-align: left;
}

.btn-upload {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: white;
    background: #2596be;
    /* color:#2596be; */
}

.btn-upload:hover {
    background: #41b1da;
}

.file-table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
}

.file-table th, .file-table td {
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
}

.file-table th {
    background: #2596be;
    color: white;
    text-align: left;
}

.download-btn {
    background: #2596be;
    padding: 6px 14px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.download-btn:hover {
    background: #2596be;
}

.no-files {
    text-align: center;
    color: #777;
    margin-top: 20px;
}
/* Make the table look consistent */
.file-table th, .file-table td {
    vertical-align: middle;
    white-space: nowrap;
}

/* Rounded table edges */
.table-responsive {
    border-radius: 10px;
    overflow-x: auto;
}

@media (max-width: 576px) {

    .file-table th:nth-child(2),
    .file-table td:nth-child(2) {
        white-space: normal;
    }

    .file-table .btn {
        padding: 4px 8px;
        font-size: 12px;
    }
    .table-responsive {
        margin-bottom: 10px;
    }
}
