{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock %}
{% block content %}

<div class="reset-container">
    <div class="reset-box">
        <h2 class="reset-title">Forgot Password</h2>
      {% if messages %}
    {% for message in messages %}
        {% if "forgot" in message.tags %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
        <form method="post">
            {% csrf_token %}

            <label><strong>Email</strong></label>
            <input type="email" name="email" class="form-control mb-3" placeholder="Enter your registered email" required>

            <button class="btn btn-reset">Send OTP</button>
        </form>

        <p class="reset-footer">
            <a href="{% url 'login' %}" class="text-dark">Back to Login</a>
        </p>

    </div>
</div>

{% endblock %}
